<form ng-submit="submit()" name="phone">
<div class="jumbotron">
<input id="phonNumberInput" type="text"/><br><br>

  <input id="oneButton" type="button" value="1"/><input id="twoButton" type="button" value="2"><input id="threeButton" type="button" value="3" ng-click="regtest()"/><br>

  <input id="fourButton" type="button" value="4"><input id="fiveButton" type="button" value="5"/><input id="sixButton" type="button" value="6"><br>

    <input id="sevenButton" type="button" value="7">
    <input id="eightButton" type="button" value="8">
    <input id="nineButton" type="button" value="9"><br>
    <input id="zeroButton" type="button" value="0" width="300"/><br>


    <input id="callButton" type="button" value="Call" width="200"/><br>
    <input id="answerButton" type="button" value="Answer"/>


    <input id="hangUp" type="button" value="Hang Up"/><br>
    <input id="muteButton" type="button" value="Mute"/>
    <input id="holdButton" type="button" value="Hold"/>
    <input id="addCallButton" type="button" value="Add Call">
    <input id="transferButton" type="button" value="Transfer"><br>
    <input id="submitButton" type="submit" value="Submit Button">
  </div>
</form>




